@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.website-logo {
    width: 140px;
    height: 50px;
}

.services-section-main-heading {
    font-family: Roboto;
    font-size: 35px;
    color: #183b56;
    font-weight: bold;
}

.services-section-benefits-text {
    font-family: Roboto;
    font-size: 25px;
    color: #616c7c;
}

.cards-images {
    width: 100px;
    height: 100px;
}

.services-sections-cards-main-heading {
    font-family: Roboto;
    font-size: 25px;
    color: #1f2933;
    font-weight: 500;
}

.services-section-cards-text {
    font-family: Roboto;
    font-size: 19px;
    color: #7b8794;
}

/* Our Products Page */
.products-main-heading {
    font-family: Roboto;
    color: #183b56;
    font-size: 35px;
    font-weight: 700;
}

.products-card {
    height: 328px;
    padding: 20px;
    border-radius: 16px;
}

.headphones-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/ecommerce-products-headphones-bg.png");
    background-size: cover;
}

.laptops-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/ecommerce-products-laptops-bg.png");
    background-size: cover;
}

.product-card-heading {
    font-family: Roboto;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
}

.product-card-text {
    font-family: Roboto;
    color: #ffffff;
    font-size: 15px;
}

.custom-button {
    background-color: #ffffff;
    border-style: none;
    color: #ff9f00;
    font-family: Roboto;
    width: 130px;
    height: 40px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 500;
}

.modal-main-heading {
    font-family: Roboto;
    color: #183b56;
    font-weight: 500;
}

.modal-text {
    font-family: Roboto;
    color: #323f4b;
    font-size: 14px;
}

.modal-ul-container {
    list-style: none;
    padding-left: 0;
}

.specification-heading {
    font-family: Roboto;
    color: #183b56;
    font-weight: bold;
}

.modal-custom-button {
    font-family: Roboto;
    color: #183b56;
    border-style: solid;
    background-color: transparent;
    border-width: 2px;
    border-color: #323f4b;
    font-size: 13px;
    font-weight: 500;
    width: 75px;
    height: 35px;
    border-radius: 5px;
}

.offers-text {
    font-family: Roboto;
    color: #ff9f00;
    font-size: 13px;
    font-weight: bold;
}

.ecommers-offers-section {
    background-image: linear-gradient(to right, #f49541, #dd5d97, #ad2167);
    background-size: cover;
}

.offers-section-main-heading {
    font-family: serif;
    color: #ad2167;
    font-weight: bold;
    font-size: 21px;
}

.offers-section-para {
    color: #ffffff;
    font-family: Roboto;
}

.offers-section-offer-text {
    font-weight: bold;
    font-style: italic;
}

.trending-blogs-main-heading {
    font-family: Roboto;
    font-size: 35px;
    color: #183b56;
    font-weight: bold;
}

.subject-text {
    font-family: Roboto;
    font-size: 13px;
    color: #959ead;
}

.blogs-card-heading {
    font-family: Roboto;
    font-size: 25px;
    color: #183b56;
    font-weight: bold;
}

.blogs-card-details-text {
    font-family: Roboto;
    font-size: 18px;
    color: #959ead;
}

.read-more-link {
    font-family: Roboto;
    font-size: 18px;
    color: #ff9f00;
    font-weight: bold;
}

.ecommerce-website-explore-section-bg-container {
    background-color: #f5f7fa;
}

.explore-section-main-heading {
    font-family: Roboto;
    color: #183b56;
    font-size: 45px;
    font-weight: bold;
}

.deals-offers-cards {
    border-radius: 10px;
    background-color: #ffffff;
}

.offers-cards-main-heading {
    font-family: Roboto;
    color: #183b56;
    font-size: 35px;
    font-weight: bold;
}

.offers-cards-images-container {
    padding: 10px;
}

.offer-cards-images {
    width: 100%;
    border-radius: 20px;
}

.items-names {
    font-family: Roboto;
    color: #1f2933;
    font-size: 20px;
}

.all-deals-link {
    font-family: Roboto;
    font-size: 17px;
    color: #ff9f00;
    font-weight: bold;
}

.ecommerce-website-contact-us-section {
    background-color: #f5f7fa;
}

.contact-us-section-main-heading {
    font-family: Roboto;
    color: #183b56;
    font-weight: bold;
}

.contact-us-section-custom-button {
    width: 140px;
    height: 45px;
    border-style: solid;
    border-width: 2px;
    background-color: transparent;
    color: #ff9f00;
    border-color: #ff9f00;
    font-size: 17px;
    font-weight: 500;
}

.ecommerce-website-footer-section {
    background-color: #0d2436;
}

.footer-section-ecommerce-logo {
    width: 150px;
    height: 50px;
    margin-bottom: 15px;
}

.icons {
    font-size: 18px;
    color: #5a7184;
}

.ecommerce-footer-section-icon-container {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    padding-top: 15px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 15px;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color: #152c3e;
}

.address-text {
    font-family: Roboto;
    color: #5a7184;
    font-size: 17px;
    margin-top: 10px;
}

.footer-section-headings {
    font-family: Roboto;
    color: #5a7184;
    font-size: 17px;
    font-weight: bold;
}

.unordered-list-items {
    padding-left: 0;
    list-style: none;
}

.footer-list-texts {
    font-family: Roboto;
    color: #5a7184;
    font-size: 15px;
    margin-bottom: 7px;
}

.hr-line {
    background-color: #5a7184;
}

.footer-section-copyright-text {
    color: #959ead;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
}